.scrolling{
    overflow-y: scroll;
}
.rem17{
    max-height: 17rem;
}
.rem50{
    max-height: 50rem;
}
.rem9{
    width: 9.5rem !important;
}
.centro{
    margin-left: 45%;
    margin-right: 45%;
}
.gray{
    color: #999999;
}
.top{
    margin-top: 0 !important;
}
body{
    background-color: white;
}